# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/

build/
dist/
.eggs/
*.egg-info/
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
pytestdebug.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IPython profile
profile_default/

# pyenv
.python-version

# Environments
.env
.env.*
.venv

# Visual Studio Code
.vscode/

# PyCharm
.idea/

# macOS and Windows metadata
.DS_Store
Thumbs.db
Desktop.ini

# Logs and temp files
*.log
*.tmp
*.temp
*.swp 
# PyInstaller build specs and executables
*.spec
*.exe

# Output files
receipts_*.csv
/log/ 